<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated modeloConceitualER -->
      <package
            uri="http://www.example.org/modeloConceitualER"
            class="modeloConceitualER.ModeloConceitualERPackage"
            genModel="model/modeloConceitualER.genmodel"/>
   </extension>

</plugin>
